<mat-card >
  Personal Details
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Gender" [value]="data.gender">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="First name" [value]="data.name.first">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Last name" [value]="data.name.last">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Phone" [value]="data.phone">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Nationality" [value]="data.nat">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Email" [value]="data.email">
    </mat-form-field>
  </form>
</mat-card>